<template>
  <div>
    <h2><slot></slot></h2>
    <div v-for="comment in comments">
      <strong>{{ comment.name }}:</strong>
      <p>{{ comment.comment }}</p>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Comments',

  props: {
    comments: { type: Array }
  },

  mounted () {
    this.$root.$on('new-comment', data => {
      this.comments.push(data)
    });
  }
}
</script>
