<template>
  <div>
    <h2><slot></slot></h2>
    <form @submit.prevent="storeComment" @keydown="form.onKeydown($event)" v-if="user">
      <alert-success :form="form" :message="$t('comment_created')" class="mt-2"/>
      <c-text name="name" :form="form">{{ $t('name') }}</c-text>
      <c-textarea name="comment" :form="form">{{ $t('comment') }}</c-textarea>
      <c-submit :loading="form.busy">{{ $t('post') }}</c-submit>
    </form>
    <b-alert show variant="warning" v-else>{{ $t('login_to_comment') }}</b-alert>
  </div>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
import CText from '~/components/content/Text'
import CSubmit from '~/components/content/Submit'
import CTextarea from '~/components/content/Textarea'

export default {
  name: 'NewComment',

  components: {
    CText,
    CTextarea,
    CSubmit
  },

  props: {
    filmId: { type: Number }
  },

  computed: mapGetters({
    user: 'auth/user'
  }),

  data () {
    return {
      posting: false,
      form: new Form({
        name: null,
        comment: null
      })
    }
  },

  methods: {
    async storeComment () {
      await this.form.post('/api/comments/' + String(this.filmId))
      this.$root.$emit('new-comment', { name: this.form.name, comment: this.form.comment })
      this.form.reset()
    }
  }
}
</script>
