<template>
  <card :title="$t('films')"
    :loading="loading">
    <div v-for="film in films">
      <b-img :src="film.photo" fluid alt="Film Photo" class="mb-3" />
      <b-row align-h="between">
          <b-col>{{ film.release_date }}</b-col>
          <b-col>{{ film.rating }} / 5</b-col>
          <b-col>${{ film.ticket_price }}</b-col>
      </b-row>
      <h1><b-link :to="{ name: 'films.single', params: { slug: film.slug } }">{{ film.name }}</b-link></h1>
      <p>{{ film.description }}</p>
      <ul v-if="film.genres">
        <li v-for="genre in film.genres">{{ genre.name }}</li>
      </ul>
      <p v-if="film.country">#{{ film.country.name }}</p>
    </div>

    <b-row align-h="center" v-if="links">
        <b-col cols="2" v-if="links.prev"><b-button @click="navigate(links.prev)">{{ $t('prev') }}</b-button></b-col>
        <b-col cols="2" v-if="links.next"><b-button @click="navigate(links.next)">{{ $t('next') }}</b-button></b-col>
    </b-row>
  </card>
</template>

<script>
import axios from 'axios'
import { content } from '~/mixins/content'
import CTable from '~/components/content/Table'

export default {
  scrollToTop: true,

  components: {
    CTable
  },

  mixins: [content],

  metaInfo () {
    return { title: this.$t('films') }
  },

  data: function () {
    return {
      loading: true,
      films: null,
      links: null,
      meta: null
    }
  },

  created: function () {
    this.fetchFilms()
  },

  methods: {
    async fetchFilms() {
      const { data } = await axios.get('/api/films/?per_page=1')
      this.films = data.data
      this.links = data.links
      this.meta = data.meta
      this.loading = false
    },

    async navigate(link) {
      this.loading = true
      const { data } = await axios.get(link + '&per_page=1')
      this.films = data.data
      this.links = data.links
      this.meta = data.meta
      this.loading = false
    }
  }
}
</script>
