<template>
  <div class="row">
    <div class="col-md-3">
      <card :title="$t('settings')" class="settings-card">
        <ul class="nav flex-column nav-pills">
          <li v-for="(tab, index) in tabs" :key="index" class="nav-item">
            <router-link :to="{ name: tab.route, params: tab.params }" class="nav-link" active-class="active">
              <fa :icon="tab.icon" fixed-width/>
              {{ tab.name }}
            </router-link>
          </li>
        </ul>
      </card>
    </div>

    <div class="col-md-9">
      <transition name="fade" mode="out-in">
        <router-view :key="$route.fullPath"/>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    tabs () {
      return [
        {
          icon: 'film',
          name: this.$t('films'),
          route: 'content.browse',
          params: { content: 'films' }
        },
        {
          icon: 'globe',
          name: this.$t('countries'),
          route: 'content.browse',
          params: { content: 'countries' }
        },
        {
          icon: 'tags',
          name: this.$t('genres'),
          route: 'content.browse',
          params: { content: 'genres' }
        }
      ]
    }
  }
}
</script>

<style>
.settings-card .card-body {
  padding: 0;
}
</style>
