<template>
  <card :title="$t('films')"
    :loading="loading">
    <div v-if="film">
      <div>
        <b-img :src="film.photo" fluid alt="Film Photo" class="mb-3" />
        <b-row align-h="between">
            <b-col>{{ film.release_date }}</b-col>
            <b-col>{{ film.rating }} / 5</b-col>
            <b-col>${{ film.ticket_price }}</b-col>
        </b-row>
        <h1>{{ film.name }}</h1>
        <p>{{ film.description }}</p>
        <ul v-if="film.genres">
          <li v-for="genre in film.genres">{{ genre.name }}</li>
        </ul>
        <p v-if="film.country">#{{ film.country.name }}</p>
      </div>

      <comments :comments="film.comments">{{ $t('comments') }}</comments>
      <new-comment :film-id="film.id">{{ $t('add_new_comment') }}</new-comment>
    </div>
  </card>
</template>

<script>
import axios from 'axios'
import { content } from '~/mixins/content'
import Comments from '~/components/Comments'
import NewComment from '~/components/NewComment'

export default {
  scrollToTop: true,

  mixins: [content],

  components: {
    Comments,
    NewComment
  },

  metaInfo () {
    return { title: this.$t('film') }
  },

  data: function () {
    return {
      loading: true,
      film: null
    }
  },

  created: function () {
    this.fetchFilm()
  },

  methods: {
    async fetchFilm() {
      const { data } = await axios.get('/api/films/' + this.$route.params.slug)
      this.film = data.data
      this.loading = false
    },
  }
}
</script>

