<template>
  <div class="form-group row">
    <label class="col-md-3 col-form-label text-md-right"><slot></slot></label>
    <div class="col-md-7">
      <datepicker v-model="form[name]" :name="name" :input-class="{ 'is-invalid': form.errors.has(name) }" :bootstrap-styling="true"></datepicker>
      <div class="help-block invalid-feedback d-block"
        v-if="form.errors.has(name)"
        v-html="form.errors.get(name)"/>
      </div>
    </div>
  </div>
</template>
<script>
import Datepicker from 'vuejs-datepicker'

export default {
  name: 'CDate',

  components: {
    Datepicker
  },

  props: {
    form: { type: Object },
    name: { type: String }
  }
}
</script>
