<template>
  <!-- Text -->
  <div class="form-group row">
    <label class="col-md-3 col-form-label text-md-right"><slot></slot></label>
    <div class="col-md-7">
      <b-img v-if="url" :src="url" fluid alt="Film Photo" class="mb-3" />
      <b-form-file v-if="!checking" v-model="form[name]" :name="name" :state.boolean="form.errors.has(name) ? false : null"></b-form-file>
      <component-loading v-else></component-loading>
      <div class="help-block invalid-feedback d-block"
        v-if="form.errors.has(name)"
        v-html="form.errors.get(name)"/>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'CImage',

  props: {
    form: { type: Object },
    name: { type: String }
  },

  data () {
    return {
      checking: true,
      url: null
    }
  },


  created() {
    this.url = this.form[this.name] || null
    this.form[this.name] = null
    this.checking = false
  }
}
</script>
