<template>
  <div class="form-group row">
    <label class="col-md-3 col-form-label text-md-right"><slot></slot></label>
    <div class="col-md-7">
      <div v-if="!checking">
        <star-rating v-model.number="form[name]" :rating="form[name]" :star-size="20"></star-rating>
        <input type="hidden" v-model="form[name]" :name="name" />
      </div>
      <component-loading v-else></component-loading>
      <div class="help-block invalid-feedback d-block"
        v-if="form.errors.has(name)"
        v-html="form.errors.get(name)"/>
      </div>
    </div>
  </div>
</template>
<script>
import StarRating from 'vue-star-rating'

export default {
  name: 'CRating',

  components: {
    StarRating
  },

  props: {
    form: { type: Object },
    name: { type: String }
  },

  data () {
    return {
      checking: true,
    }
  },

  created() {
    if (! this.form[this.name]) {
      this.form[this.name] = 1
    }
    this.checking = false
  }
}
</script>
