<template>
  <form @submit.prevent="updateResource" @keydown="form.onKeydown($event)" enctype="multipart/form-data">
    <alert-success :form="form" :message="$t(config('singular') + '_updated')" class="mt-2" />
    <card :title="$t('update_' + config('singular'))" :loading="loading">
      <content-form :form="form"
        :fields="config('form')"
        :data="data"
        v-if="formReady"
      ></content-form>
    </card>
  </form>
</template>

<script>
import ContentForm from './form'
import { mapGetters } from 'vuex'
import { content } from '~/mixins/content'

export default {
  middleware: 'auth',

  scrollToTop: true,

  metaInfo () {
    return { title: this.$t(this.config('title')) }
  },

  components: {
    ContentForm,
  },

  mixins: [content],

  computed: mapGetters({
    user: 'auth/user'
  }),
}
</script>
